<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <section>
        <div class="product">
            <div class="description">
                <h3>Test Product</h3>
                <hr />
                <div>
                    <h5> $90 </h5>
                    <form action="/create-checkout-session/{{price.price_id}}/" method="POST">
                        <button type="submit">Checkout</button>
                    </form>
                </div>
            </div>

        </div>
    </section>
</body>
</html>